h2 {
	color: mistyrose;
	margin-left: 30px;
}
h1 {
	color: mistyrose;
}

.container1 {
	margin-left: 30px;
	display: flex;
	flex-wrap: wrap;
	row-gap: 95px;
	column-gap: 40px;
}

.card-wrapper {
	display: flex;
	flex-direction: column;
}

.cardhead {
	height: 75x;
    width: 150px;
	background-color: rgba(0,0,0,.5);
	border-width: 3px;
	border-style: solid;
	border-color: plum;
}


.all-cosminis {
	height: 100%;
	width: 100%;
}

.cardbody {
	height: 75x;
    width: 150px;
	padding: 10px;
	color: white;
}

.container2 {
	display: flex;
	justify-content: space-around;
}

.column {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.two {
	justify-content: center;
}

.battle-cosmini {
	height: 75x;
    width: 150px;
    background-color: rgba(0,0,0,.5);
    border-width: 3px;
	border-style: solid;
	border-color: plum;
}

.battle-button {
    background: plum;
    opacity: 80%;
}

.container3 {
	margin-top: 30px;
	margin-left: 30px;
	display: flex;
	flex-wrap: wrap;
	row-gap: 95px;
	column-gap: 40px;
}