<section class="container1">
	<div class="card-wrapper"> <!-- *ngFor="let com of cosminis"> -->
        <div class="cardhead">
            <img class="all-cosminis" src="../assets/Pics/15.png">
        </div>

        <div class="cardbody bg-dark">
            <h5 class="card-title">placeholder</h5>
            <div>placeholder</div>
        </div>
    </div> 
</section>
<section class="container2">
	<div class="column one">
		<h1>Your Cosmini</h1>
		<img class="battle-cosmini" src="../assets/Pics/InfernogFire.png">
	</div>
	<div class="column two">
		<h1>VS</h1>
		<button type="button" class="btn battle-button btn-light">BATTLE</button>
	</div>
	<div class="column three">
		<h1>Opponent Cosmini</h1>
		<img class="battle-cosmini" src="../assets/Pics/cosmofinal.png">
	</div>
</section>
<section class="container3">
	<div class="card-wrapper"> <!-- *ngFor="let com of cosminis"> -->
        <div class="cardhead">
            <img class="all-cosminis" src="../assets/Pics/15.png">
        </div>

        <div class="cardbody bg-dark">
            <h5 class="card-title">placeholder</h5>
            <div>placeholder</div>
        </div>
    </div> 
</section>
