<h2>Opponent Name:{{Opponent}}</h2>
<section class="container1">
	<div class="card-wrapper" *ngFor="let com of OpponentRoster">
        <div class="cardhead">
            <img class="all-cosminis" src="../assets/Pics/mystery-opponent.png">
        </div>

        <div class="cardbody bg-dark">
            <h5 *ngIf="com.nickname" class="card-title">Nickname: {{com.nickname}}</h5>
            <h5 *ngIf="!com.nickname" class="card-title">Species: {{com.speciesNickname}}</h5>
            <h6 class="card-title" *ngIf="com.mood"> Mood: {{com.mood}}</h6>
            <h6 class="card-title" *ngIf="com.hunger"> Hunger: {{com.hunger}}</h6>
            
        </div>
    </div> 
</section>
<section class="container2">
	<div class="column one">
		<h1>Your Cosmini</h1>
		<img class="battle-cosmini" src="../assets/Pics/{{PlayerCosmini2Battle.image}}" *ngIf="PlayerCosmini2Battle.image">
        <img class="battle-cosmini" src="../assets/Pics/mystery-opponent.png" *ngIf="!PlayerCosmini2Battle.image">
	</div>  
	<div class="column two">
		<h1>VS</h1>
		<button type="button" class="btn battle-button btn-light">BATTLE</button>
	</div>
	<div class="column three">
		<h1>Opponent Cosmini</h1>
		<img class="battle-cosmini" src="../assets/Pics/mystery-opponent.png">
	</div>
</section>
<section class="container3">
	<div class="card-wrapper" type="button" *ngFor="let com of PlayerRoster" (click)="PlayerChoosesCosmini(com)">
        <div class="cardhead">
            <img class="all-cosminis" src="../assets/Pics/{{com.image}}">
        </div>

        <div class="cardbody bg-dark">
            <h5 *ngIf="com.nickname" class="card-title">{{com.nickname}}</h5>
            <h5 *ngIf="!com.nickname" class="card-title">{{com.speciesNickname}}</h5>
            <h6 class="card-title" *ngIf="com.mood"> Mood: {{com.mood}}</h6>
            <h6 class="card-title" *ngIf="com.hunger"> Hunger: {{com.hunger}}</h6>
        </div>
    </div>
</section>
<h2>Your Team</h2>