<app-navbar></app-navbar>
<section class="container1">
	<h1>Battle a Random Friend!</h1>
	<h1>Battle a Random Stranger!</h1>
</section>
<section class="container2">
    <div class="image-container1">
	   <img src="../../assets/Pics/friend-opponent.png" class="battle-button1" (click)="gotoBattleMenu()" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button">
    </div>
    <div class="image-container2">
       <img src="../../assets/Pics/mystery-opponent.png" class="battle-button2" (click)="gotoBattleMenu()" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button">
    </div>
</section>
<div class="title">How to Play</div>
<ul>
	<li>You goal is to placeholder</li>
	<li>Winnier is determined by placeholder</li>
	<li>Be careful or placeholder</li>
	<li>Good luck and don't placeholder</li>
</ul>

